{% extends "backend/trip.html" %}

{% block activetrips %}active{% endblock %}

{% block activenrl %}active{% endblock %}

{% block updatenrl %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <h4>Update NRL Trip Info.</h4>
                    {% for row in nrl %}
                    <form id="nrl" action="/trips/?q=nrl&action=edit&id={{ row.id }}&n=store" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-inputmask-alias="datetime"
                                            data-inputmask-inputformat="dd/mm/yyyy" data-mask name="loadingdate"
                                            id="loadingdate" placeholder="Loading date" value="{{ row.loadingdate }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" id='ttno' name="ttno">
                                            <option value="{{ row.ttno }}">{{ row.ttno }}</option>
                                            <option value="" disabled>Select TT
                                                No.
                                            </option>
                                            {% for row in vehicle %}
                                            <option value="{{row.vehicle_name}}">{{row.vehicle_name}}
                                            </option>
                                            {% endfor %}
                                            <option onclick="location.href='/vehicles/'"
                                                style="background-color: rgb(159, 172, 185);">
                                                --ADD NEW VEHICLE--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="shipmentno" id="shipmentno"
                                            placeholder="Shipment No." value="{{ row.shipmentno }}">
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="number" class="form-control" name="qty" id="qty"
                                            placeholder="Quantity (MT)" value="{{ row.qty }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="shortage" id="shortage"
                                            placeholder="Shortage" value="{{ row.shortage }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-inputmask-alias="datetime"
                                            data-inputmask-inputformat="dd/mm/yyyy" data-mask name="unloadingdate"
                                            id="unloadingdate" placeholder="Uploading date" value="{{ row.unloadingdate }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="unloadingqty" id="unloadingqty"
                                            placeholder="Unloading Qty" value="{{ row.unloadingqty }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="rate" id="rate"
                                            placeholder="Enter rate" value="{{ row.rate }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="destination" id="destination"
                                            placeholder="Destination" value="{{ row.destination }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="toll" id="toll"
                                            placeholder="Toll" value="{{ row.toll }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="totalamount" id="totalamount"
                                            placeholder="Total amount" value="{{ row.totalamount }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="shortageamount"
                                            id="shortageamount" placeholder="Shortage amount" value="{{ row.shortageamount }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="product" id="product"
                                            placeholder="End product" value="{{ row.product }}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" class="form-control" name="status"
                                        id="status" value="NRL">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"
                                style="width:100%"><strong>Update</strong></button>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}